@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
* {
    color: #142d4c;
    /* background-color: #9fd3c7; */
    font-family: 'Patrick Hand', cursive;
  
}

body {
    background-color: #9fd3c7;
}

.container {
    max-width: 80vw;
    display: grid;
    grid-template-areas: 
    "top  top"
    "left right";
    grid-gap: 18px;
    grid-template-columns: 25% auto;
    align-self: center;
    margin: auto;
}

.title {
    font-size: 4rem;
    grid-area: top;
    text-align: center;
}

.navBar{
    grid-area: left;
    background-color: #ececec;
    height: 75vh;
    border-color: #142d4c;
    border: 2px solid;
}

.tasks{
    grid-area: right;
    width: auto;
    border-color: #142d4c;
    border: 2px solid;
}

#plus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #142d4c;
    top: 40px;
    right: 10%;
}

#plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #142d4c;
    top: 50%;
    left: 50%;
}
  
#plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #142d4c;
    height: 50%;
    width: 4px;
}
  
#plus:hover:before,
#plus:hover:after {
    background: #fff;
    transition: 0.3s;
}
  
#plus:hover {
    background-color: #142d4c;
    transition: 0.3s;
}
/* 
.first-color { 
	background: #ececec; 
}
	
.second-color { 
	background: #9fd3c7; 
}

.third-color { 
	background: #385170; 
}

.fourth-color { 
	background: #142d4c;  */
/* } */

.popUpContainer {
    width: 330px;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 100ms ease-in-out;
    background: #ececec;
    box-sizing: border-box;
    padding-left: 20px;
    border: 2px solid #142d4c;
    background: #ececec;
    z-index: 10;
}

.popUpContainer.active {
    transform: translate(-50%, -50%) scale(1);

}

.popUp {
    position: fixed;
    background: #ececec;
    z-index: 10;
}

#overlay {
    position: fixed;
    opacity: 0%;
    transition: 100ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20, 45, 76, .3);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#myForm {
    background-color: #ececec;
    font-size: 2em;
}

input[type=text] {
    border: 2px solid #9fd3c7;
}

input[type=text]:focus {
    border: 3px solid #9fd3c7;  
    outline: none;
}

input[type=text] {
    width: 120%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;  
    text-align: center;

}

input[type=submit] {
    width: 100%;
    font-size: 18px;
}

.navBar {
    padding: 4%;
    /* font-size: 65px; */
    font-size: min(max(35px, 4vw), 65px);
}

.navBar > div {
    cursor: pointer;  
}
.navBar > div:hover {
    cursor: pointer;  

    -webkit-text-stroke: .8px #9fd3c7;
}

#tasks {
    font-size: 22px;
}

#taskContainer{
    display: flex;
}

.edit::before {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f044";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.delete::before {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1f8";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.edit {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}